<div class="body">
  <mat-card style="background-color: #F0F4F1">
    <mat-card-content>
      <div>
        <table>
          <tr>
            <td>
              <h1>Overview</h1>
            </td>
            <td>
          <tr>
            <td>
              {{viewer?.repositories?.totalCount}} repos
            </td>
          </tr>
          <tr>
            <td>
              last update : {{ viewer?.updateDate | date: 'dd/MM/yyyy - hh:mm:ss a' }}
            </td>
          </tr>
          </td>
          </tr>
        </table>
      </div>
      <div class="chart">
        <div class="Languages">
          <ngx-charts-area-chart-stacked [view]="[1000,400]" [results]="viewer?.chartData" [xAxisLabel]="'Languages'"
            [legendTitle]="'Language per year'" [yAxisLabel]="'Sale'" [legend]="true" [showXAxisLabel]="true"
            [showYAxisLabel]="true" [xAxis]="true" [yAxis]="false" [gradient]="false" (select)="onSelect($event)">
          </ngx-charts-area-chart-stacked>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<br>