.body {
  padding-left: 90px;
  padding-right: 90px;
}
.centerMe {
  background-color: #e2eae4;
  height: 50px;
}
.example-card {
  max-width: 100px;
}
.example-margin {
  margin: 0 10px;
}
.header {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: solid 1px black;
}
.gauche {
  text-align: left;
}

.round-header-image {
  background-size: cover;
  margin: 10px;
}
table {
  table-layout: fixed;
  width: 100%;
  margin: 15px;
  align-items: center;
  border-spacing: 5px;
  table-layout: fixed;
  /* border: 1px solid blue; */
  text-align: center;
  vertical-align: center;
  align-items: center;
}

h1 {
  color: #555555;
}

html {
  font-family: Roboto Mono Verdana;
  size: 13px;
}
