<div class="body">
  <mat-card style="background-color: #F0F4F1">
    <table>
      <tr>
        <td class="gauche">
          <h1>{{viewer?.name}}</h1>
        </td>
        <td>
          <mat-card-subtitle>
            {{ viewer?.bio }}
          </mat-card-subtitle>
        </td>
      </tr>
    </table>
    <mat-card-content>

      <img *ngIf="!viewer; else hasViewer" src="assets/loader.svg"
        style="  display:block;margin-left:auto;margin-right:auto;">
      <ng-template #hasViewer>
        <img src="{{viewer?.avatarUrl}}" width="100" class="image">
        <mat-card-subtitle> {{viewer?.login}}</mat-card-subtitle>
        <table>
          <tr class="centerMe">
            <td>commits : {{viewer?.totalCommitCount }}</td>
            <td>Repos : {{viewer?.repositories?.totalCount}}</td>
            <td>Lines of code : {{viewer?.totalCodeLinesCount}}</td>
            <td>Followers : {{viewer?.followers?.totalCount}}
              <i class="fa fa-code-merge"></i>
            </td>
            <td>Following : {{viewer?.following?.totalCount}}</td>
          </tr>
        </table>
      </ng-template>

    </mat-card-content>
  </mat-card>
  <br>
</div>